<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

  <div class="w3-container">
    <div class="w3-card-4">
      <div class="w3-container w3-green">
        <h2>Añadir nueva foto</h2>
      </div>

      <form action="/anadir" method="POST" class="w3-container" enctype="application/x-www-form-urlencoded">
        <p>
          <label>Título</label>
        </p>
        <input class="w3-input" name="titulo" type="text">
        <p>
          <label>URL </label>
        </p>
        <input class="w3-input" name="url" type="url">
        <p>
          <label>Fecha </label>
        </p>
        <input class="w3-input" name="fecha" type="date">
          <input class="w3-input" type="submit">
      </form>

      <% if (error) { %>
        <p>La imagen ya existe en nuestra base de datos.</p>
        <% } %>
    </div>
  </div>

</body>

</html>